*{
	font-size: 9pt;
}

.frame {
	border: 2px outset;
	margin: 0.25em;
	font-family: monospace;
	font-size: 10pt;
	
	overflow: auto;
	white-space: nowrap;
}

#toolbar {
	padding: 0.25em;
	margin-top: .25em;
	height: 1.5em;
	margin-bottom: 0.25em;
}

#objectList {
	float: left;
	width: 20em;
	height: 720px;
}

#canvasContainer{
	float: left;
	text-align: center;
}

#log{
	height: 5em;
	clear: both;
	white-space: pre-line;
}

#propertiesWindow{
	height: 720px;
}
#propertiesWindow table{
	width: 100%;
	border-collapse: collapse;
}

#propertiesWindow th{
	background-color: #def;
}

#propertiesWindow th,
#propertiesWindow td{
	border: 1px solid #000;
	text-align: left;
	width: 50%;
	padding-right: 0.25em;
	padding-left: 0.25em;
}
#propertiesWindow td{
	border-color: #aaa;
	white-space: nowrap;
}
#propertiesWindow tr:hover{
	background-color: #cfc;
}

canvas {
	border: 1px solid #000;
	margin: 0.25em;
	cursor: none;
}

label{
	padding: 0.1em;
	padding-right: 0.25em;
	background-color: #eee;
	border: 2px outset;
}

label{
	margin-right: 0.25em;
}

.selectableList{
	font-size: 9pt;
	cursor: default;
}

.selectableList .off,
.selectableList .on{
	cursor: pointer;
	padding-top: 3px;
	padding-bottom: 2px;
}

.selectableList .on{
	background-color: #def;
}

.selectableList .off:hover{
	background-color: #cfc;
}
.selectableList .on:hover{
	background-color: #acf;
}

.selectableList .button{
	margin-right: 0.25em;
}

.button:hover{
	border: 2px outset;
	padding: 1px;
	padding-left: 4px;
	padding-right: 4px;
}

.button {
	background-color: #eee;
	border: 1px solid;
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
	cursor: pointer;
}

.dialog{
	position: fixed;
	left: 33.5%;
	top: 33.5%;
	width: 33%;
	border: 3px outset #acf;
	background-color: #eee;
	display: none;
}

.dialog .body{
	padding: 0.5em;
}

.dialog .titleBar{
	font-size: 125%;
}

.titleBar{
	background-color: #acf;
	padding: 0.25em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	border-bottom: 1px solid #000;
	font-weight: bold;
	font-size: 110%;
}

ul{
	margin-top: 0px;
	margin-bottom: 1em;
}
